@import 'variables';
@import 'keyframes/homekeyframes.scss';
@import 'nav';
@import 'page';
@import 'home/home';
@import 'portfolio/portfolio';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Open Sans Condensed';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    background-color: $colorGrey;
}